#firststdiv{
    height: 700px;
    background-image: url(./Rectangle\ 3.png);
    background-size: cover;
}
.custom-column{
    height: 500px;
}
.custom-column h2{
    padding-top: 20px;
    padding-left: 70px;
}
.custom-column h1{
    padding-left: 70px;
    font-size: 50px;
}
.getstarted button{
    margin-top: 30px;
    margin-left: 70px;
    height: 50px;
    width: 150px;
    border-radius: 20px;
}
.logo{
    padding-top: 10px;
    margin-left: 150px;
    /* padding-left: 700px; */
    /* padding-bottom: 500px; */
}
/* .group5{
    padding-left: 200px;
    padding-top: 80px;
} */
/* .group7{
    padding-top: 10px;
} */
 .group5{
    margin-left: 150px;
    margin-top: 100px;
 }
 .group7{
    margin-left: 150px;
    margin-top: 150px;
 }
 .getstarted{
    display: flex;
    justify-content: space-between;
 }
.group9{
    margin-top: -67px;
}
.seconddiv{
    height: 780px;
    background-color: rgb(255, 255, 255);
    position: relative;
}
.seconddiv h1{
    padding-top: 60px;
    padding-left: 63.58px;
}
#teamsimg img{
    width: 393px;
    height: 404px;
    margin-left: 100px;
}
#aboutcompanyimg img{
    /* z-index: 2; */
    position: absolute;
    z-index: 2;
    margin-left: -229px;
    margin-top: 230px;
    height: 404px;
    width: 393px;
}
.para{
    background-image: url("./Span\ [blog__shape-item].png");
    /* background-image: url(./Span.png); */
    background-size: cover;
    width: 800px;
    margin-left: -180px;
    /* margin-top: -100px; */
    /* border: 2px solid black; */
}
.firstpara{
        margin-left: 50px;
    padding-top: 151px;
}
.secondpara{
    margin-top: 70px;
    padding-left: 110px;
}
.fontsizeofpara{
    font-size: 20px;
}
.paracontent{
    /* margin-top: -100px; */
    background-image: url("./Span.png");
    background-size: cover;
}
.thirddiv{
    height: 700px;
    background-image: url("./Rectangle\ 3.png");
    background-size: cover;
}
.bgsquare img{
    position: absolute;
    z-index: 1;
    margin-top: -117px;
}
.ourtraining{
    /* margin-bottom: -1px; */
    padding-top: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.thirddivpara{
    font-size: 20px;
    margin-bottom: -51px;
    margin-top: 24px;
}
.thirddivpara2{
    font-size: 20px;
    /* margin-bottom: -51px; */
    padding-left: 608px;
    margin-top: 48px;
}
/* .card-text{
    padding-left: 50px;
} */
 /* .card{
    padding-left: 40px;
 } */

 /* .card{
    border-radius: 0px;
 } */
  .card {
  /* border-radius: 0 !important; */
  border: 4px solid rgb(0, 0, 0);
  /* padding-left: 88px; */
}
/* 
.card img {
  border-radius: 0 !important;
} */
.fourthdiv{
    height: 900px;
    background-color: rgb(255, 255, 255);
}
.ourproceess{
    padding-top: 58px;   
}
.bluecircle img{
    padding-top: 9px;
    height: 110px;
    padding-left: 106px;
    /* background-image: url("./1.png"); */
}
.one img{
    height: 76px;
    margin-left: 28px;
    margin-top: -143px;
}
.two img{
    margin-left: 129px;
    margin-top: -141px;
}
/* .card1{
    margin-right: 100px;
} */
 .cardsinfourthdiv{
    margin-top: 50px;
    /* margin-bottom: 100px; */
 }
.card1{
    border: 2px solid black;
}
.fourthdiv .card {
    border: 4px solid rgb(184, 174, 174);
}
.fifthdiv{
    height: 1000px;
    background-image: url("./Rectangle\ 55.png");
    background-size: cover;
      position: relative; 
}
.fifthdivimg1 img{
    position: absolute;
  right: 0; /* moves to rightmost side */
  top: 0;  
}
/* .fifthdiv {
  position: relative; /* required for absolute positioning inside */
/* .fifthdivimg1 {
  position: absolute;
  right: 0; /* moves to rightmost side */
  /* top: 0;   adjust this if needed */
/* } */ 

.fifthdivimg2 img{
        position: absolute;
    bottom: 0;
}
.worldimage img{
        margin-left: -50px;
}
.worldimage{
    position: absolute;
    bottom: 15px;
    left: 32%;
    height: 440px;
}
.fifthdivheading{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 23px;
}
.boxes{
    width: 308px;
    height: 431px;
    background-color: white;
    margin-top: 10px;
    border-radius: 5px;
}
.pricebox{
    justify-content: space-between;
}
.thilak img{
    /* background-size: cover; */
    width: 319px;
    position: absolute;
    margin-left: -6px;
    z-index: 4;
}
.insidebluebox{
    color: white;
    position: absolute;
    z-index: 6;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 6px;
    padding-left: 66px;    
}
.insidebox{
    padding-top: 175px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sixththdiv{
    height: 350px;
}
.leftclass{
    padding-top: 51px;
    padding-left: 16%;
}
.leftpadding{
    padding-left: 100px;
}
.leftclass p{
    font-size: 25px;
}
.ouraddress p{
    font-size: 30px;
}
.ourcontactinfo p{
    font-size: 30px;
}
/* .ouraddressimg{
    background-image: url("./icons8-location-100\ 1.png");
    background-size: contain;
    background-repeat: no-repeat;
    /* width: 100px; define size */
    /* height: 100px; */
    /* position: absolute; */
    /* z-index: 2; */
/* } */ 

.earthimg img{
    margin-top: -99px;
}
.contactinfophone img{
    margin-top: -100px;
}
.seventhdivheight{
    height: 600px;
}
.seventhdivmap{
    display: flex;
    align-items: center;
    justify-content: center;
}
.leftseventhdiv{
    /* background-color: aqua; */
    padding-left: 107px !important;
    padding-top: 50px;
}
.realform{
    /* padding-left: 106px; */
    height: 470px;
    width: 652px;
    background-color: rgb(201, 224, 232);
    border-radius: 5px;
}
.formediting{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
}
/* .apnabutton{
    display: flex;
    justify-content: flex-end;
    align-items: end;
    right: 0;
} */
 /* .apnabutton{
    margin-top: 109px;
    margin-left: 569px; */

    /* 
    display: flex;
    justify-content: flex-end; 
    align-items: center;      
    width: 100%;             */
.apnabutton {
  display: flex;
  justify-content: flex-end; /* Push button to right */
  margin-top: 20px;
}
