#firststdiv{
    height: 700px;
    background-image: url(./Rectangle\ 3.png);
    background-size: cover;
}
.custom-column{
    height: 500px;
}
.custom-column h2{
    padding-top: 20px;
    padding-left: 70px;
}
.custom-column h1{
    padding-left: 70px;
    font-size: 50px;
}
.getstarted button{
    margin-top: 30px;
    margin-left: 70px;
    height: 50px;
    width: 150px;
    border-radius: 20px;
}
.logo{
    padding-top: 10px;
    margin-left: 150px;
    /* padding-left: 700px; */
    /* padding-bottom: 500px; */
}
/* .group5{
    padding-left: 200px;
    padding-top: 80px;
} */
/* .group7{
    padding-top: 10px;
} */
 .group5{
    margin-left: 150px;
    margin-top: 100px;
 }
 .group7{
    margin-left: 150px;
    margin-top: 150px;
 }
 .getstarted{
    display: flex;
    justify-content: space-between;
 }
.group9{
    margin-top: -67px;
}
.seconddiv{
    height: 780px;
    background-color: rgb(255, 255, 255);
    position: relative;
}
.seconddiv h1{
    padding-top: 60px;
    padding-left: 63.58px;
}
#teamsimg img{
    width: 393px;
    height: 404px;
    margin-left: 100px;
}
#aboutcompanyimg img{
    /* z-index: 2; */
    position: absolute;
    z-index: 2;
    margin-left: -229px;
    margin-top: 230px;
    height: 404px;
    width: 393px;
}
.para{
    background-image: url("./Span\ [blog__shape-item].png");
    /* background-image: url(./Span.png); */
    background-size: cover;
    width: 800px;
    margin-left: -180px;
    /* margin-top: -100px; */
    /* border: 2px solid black; */
}
.firstpara{
        margin-left: 50px;
    padding-top: 151px;
}
.secondpara{
    margin-top: 70px;
    padding-left: 110px;
}
.fontsizeofpara{
    font-size: 20px;
}
.paracontent{
    /* margin-top: -100px; */
    background-image: url("./Span.png");
    background-size: cover;
}
.thirddiv{
    height: 700px;
    background-image: url("./Rectangle\ 3.png");
    background-size: cover;
}
.bgsquare img{
    position: absolute;
    z-index: 1;
    margin-top: -117px;
}
.ourtraining{
    /* margin-bottom: -1px; */
    padding-top: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.thirddivpara{
    font-size: 20px;
    margin-bottom: -51px;
    margin-top: 24px;
}
.thirddivpara2{
    font-size: 20px;
    /* margin-bottom: -51px; */
    padding-left: 608px;
    margin-top: 48px;
}
/* .card-text{
    padding-left: 50px;
} */
 /* .card{
    padding-left: 40px;
 } */

 /* .card{
    border-radius: 0px;
 } */
  .card {
  /* border-radius: 0 !important; */
  border: 4px solid grey;
  /* padding-left: 88px; */
}

.card img {
  border-radius: 0 !important;
}
.fourthdiv{
    height: 900px;
    background-color: rgb(255, 255, 255);
}
.ourproceess{
    padding-top: 58px;   
}
.bluecircle img{
    padding-top: 9px;
    height: 110px;
    padding-left: 106px;
    /* background-image: url("./1.png"); */
}
.one img{
    height: 76px;
    margin-left: 28px;
    margin-top: -143px;
}
.two img{
    margin-left: 129px;
    margin-top: -141px;
}
/* .card1{
    margin-right: 100px;
} */
 .cardsinfourthdiv{
    margin-top: 50px;
    /* margin-bottom: 100px; */
 }

